.rounded-img{
    border-radius: 50%;
    width: 5em;
    height: 5em;
}

.border {
    border-radius: 1em
}

.tag {
    padding: 0.2em;
    border-radius: 1em;
}

.tag-aqua {
    background-color: rgb(71, 178, 182);
}

.tag-orange {
    background-color: #FE9460;
}

.tag-orange:hover {
    background-color: #a95C40;
    color: white;
}

.tag-purple {
    background-color: #7A86EF;
}

.tag-purple:hover {
    background-color: #45b;
    color: white;
}

.tag-yellow {
    background-color: #fc0;
}

.tag-yellow:hover {
    background-color: #a70;
    color: white;
}

.tag-green {
    background-color: #5cff59;
}

.tag-green:hover {
    background-color: #3b3;
    color: white;
}

.goodGreen {
    color: rgb(80, 206, 7)
}

.badPurple {
    color: rgb(135, 35, 175)
}

.border-3 {
    border-width: 2px;
}