.rounded-img{
    border-radius: 50%;
    width: 5em;
    height: 5em;
}

.border {
    border-radius: 1em
}

.tag {
    padding: 0.2em;
    border-radius: 1em;
    color: white;
}

.tag:hover {
    color: white;
    cursor:pointer;
}

.tag-aqua {
    background-color: rgb(71, 178, 182);
}

.tag-orange {
    background-color: #ba2312;
}

.tag-orange:hover {
    background-color: #881a0e;
    
}

.tag-purple {
    background-color: #7A86EF;
}

.tag-purple:hover {
    background-color: #45b;
}

.tag-yellow {
    background-color: #eda809;
}

.tag-yellow:hover {
    background-color: #ad7b07;
}

.tag-green {
    background-color: #7e9e00;
}

.tag-green:hover {
    background-color: #3a4800;
}

.tag-grey {
    background-color: #777;
}

.tag-grey:hover {
    background-color: #575757;
}

.tag-pink {
    background-color: #dd8e7c;
}

.tag-pink:hover {
    background-color: #a1685b;
}

.goodGreen {
    color: rgb(80, 206, 7)
}

.badPurple {
    color: rgb(135, 35, 175)
}

.notifications:hover{
    background-color: darkgray;
    border-radius: 1em
}

.border-3 {
    border-width: 2px;
}

.resize-none{
    resize: none;
}
