.rounded-img{
    border-radius: 50%;
    width: 5em;
    height: 5em;
}

.border {
    border-radius: 1em
}

.tag {
    padding: 0.2em;
    background-color: rgb(71, 178, 182);
    border-radius: 1em;
}

.goodGreen {
    color: rgb(80, 206, 7)
}

.badPurple {
    color: rgb(135, 35, 175)
}


.notifications:hover{
    background-color: darkgray;
    border-radius: 1em
}